<section id="game">
  <script type="text/javascript" src="<%= @game[:path_to_storage] %>/swfobject.js"></script>
  <script type="text/javascript">
      // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
      var swfVersionStr = "11.0.0";
      var xiSwfUrlStr = "<%= @game[:path_to_storage] %>/playerProductInstall.swf";
      var flashvars = {
          device_id:"<%= @game[:token] %>",
          url:"<%= @game[:app] %>.swf",
          customer_id:"<%= @game[:customer_id] %>",
          kf:100,
          curr: "BTC",
          lang: "RU",
          button: "modern"
      };
      var params = {};
      params.quality = "high";
      params.wmode = "direct";
      params.bgcolor = "#000";
      params.allowscriptaccess = "qbitcasino.com";
      params.allowfullscreen = "true";
      var attributes = {};
      attributes.id = "<%= @game[:app] %>";
      attributes.name = "<%= @game[:app] %>";
      attributes.align = "middle";
      swfobject.embedSWF(
              "<%= @game[:path_to_storage] %>/<%= @game[:loader] %>.swf", "game-container",
              "100%", "100%",
              swfVersionStr, xiSwfUrlStr,
              flashvars, params, attributes);
      swfobject.createCSS("game-container", "display:block;text-align:left;");
  </script>
  <div id="game-container">
    <p>
      To view this page ensure that Adobe Flash Player version
      11.0.0 or greater is installed.
    </p>
    <script type="text/javascript">
        var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
        document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
                + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
    </script>
  </div>
</section>
