<div class="game-window">
  <section>
    <ul class="nav nav-pills">
      <li>
        <a class="back btn btn-default" href="/games"><i class="fa fa-arrow-left"></i>  <%= I18n.t 'frontend.game.back' %></a>
      </li>
    </ul>
  </section>
  <%= render 'game' %>
</div>
