<div>
  <div class="row">
    <div class="col-lg-6">
      <a class="btn btn-browser btn-chrome btn-block" href="https://chrome.google.com/webstore/detail/everplay/kjaggagkkikoenjobpcjabdabnmnnfob" target="_blank">
        <div class="logo">
          <img src="/images/chrome.png" />
        </div>
        <div class="text">
          <div class="download"><%= I18n.t 'frontend.plugin.download' %></div>
          <div class="name">Chrome</div>
        </div>
      </a>
    </div>
    <div class="col-lg-6">
      <a class="btn btn-browser btn-firefox btn-block" href="https://addons.mozilla.org/en-US/firefox/addon/everplay/" target="_blank">
        <div class="logo">
          <img src="/images/firefox.png" />
        </div>
        <div class="text">
          <div class="download"><%= I18n.t 'frontend.plugin.download' %></div>
          <div class="name">Firefox</div>
        </div>
      </a>
    </div>
  </div>
</div>
