<div>
  <div class="row">
    <div class="col-lg-7">
      <div class="panel register-form">
        <div class="panel-heading">
          <h4 class="panel-title"><%= I18n.t 'frontend.menu.register'%></h4>
        </div>
        <div class="panel-body" ng-controller="RegisterWindowCtrl">
          <%= render 'registerform' %>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="panel login-form">
        <div class="panel-heading">
          <h4 class="panel-title"><%= I18n.t 'frontend.menu.login'%></h4>
        </div>
        <div class="panel-body" ng-controller="AuthWindowCtrl">
          <%= render 'loginform' %>
        </div>
      </div>
    </div>
  </div>
</div>
