.account-info {
  a {
    text-decoration: none;
    text-transform: none;
    font-weight: normal;
    color: #fff;
    font-size: 12px;
  }
  .btn-group {
    height: 41px;
  }
  .label {
    margin-right: 40px;
    a {
      font-size: 14px;
    }
  }
  ul.dropdown-menu {
    background-color: rgba(#083f5a, 0.9);
    li.divider {
      background-color: rgba(#0d6895, 0.9);
    }
  }
}

.profile-form {
  .dropdown-toggle, .dropdown-menu {
    min-width: 100% !important;
  }
}
