.popover, .modal {
  .popover-title, .modal-header {
    background-color: rgba(#0d6895, 0.9);
  }
  .popover-content, .modal-body {
    background-color: rgba(#083f5a, 0.9);
  }
}

.popover-inner {
  min-width: 14vw;
  .btn-block {
    width: 100%;
  }
  .form-control, .alert {
    font-size: 12px;
  }
}

.add-funds {
  .btn {
    position: absolute;
    display: table;
    left: 10px;
    top: 10px;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
    opacity: 0;
  }
  &:hover {
    .btn {
      opacity: 1;
    }
    .text {
      opacity: 0;
    }
  }
}
