@mixin block-colors($color) {
  border-color: map-get(map-get($brands, $color), border);
  color: map-get(map-get($brands, $color), text);
  background: map-get(map-get($brands, $color), bkg);
}

@mixin block-colors-active($color) {
  color: map-get(map-get($brands, $color), active-text);
  background: map-get(map-get($brands, $color), active-bkg);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2) inset;
}
@mixin block-colors-hover($color) {
  color: map-get(map-get($brands, $color), hover-text);
  background: map-get(map-get($brands, $color), hover-bkg);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2) inset;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @-ms-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}


@each $color in map-keys($brands) {
  .text-#{$color} {
    color: map-get(map-get($brands, $color), color);
  }

  .bkg-#{$color} {
    background: map-get(map-get($brands, $color), color);

    &.imp {
      background: map-get(map-get($brands, $color), color) !important;
    }
  }

  .btn-#{$color} {
    @include block-colors($color);

    &:hover, &.hover {
      @include block-colors-hover($color);
    }
    &:active, &.active {
      @include block-colors-active($color);
    }
  }

  .navbar-#{$color} {
    background: map-get(map-get($brands, $color), bkg);

    .caption {
      color: map-get(map-get($brands, $color), text);
    }
    &.active {
      > .caption-announce,
      > .caption-favorite {
        background: linear-gradient(#4e7d30, #76bd48);
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2) inset;
      }
    }
    a.caption:hover,
    a.caption.active {
      @include block-colors-active($color);
    }
  }

  .navbar-#{$color} .nav > li,
  .navbar li.nav-#{$color} {
    > p {
      color: map-get(map-get($brands, $color), text);

      &.bet-events-count {
        border-left: 1px solid map-get(map-get($brands, $color), border);
      }
      &.border-right {
        border-right: 1px solid map-get(map-get($brands, $color), border);
      }
    }
    > a {
      @include block-colors($color);

      &:hover,
      &:active,
      &.active,
      .active > &.active-parent {
        @include block-colors-active($color);
      }
    }
  }

  .panel-#{$color} {
    border: 1px solid map-get(map-get($brands, $color), border);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  }

  .table {
    &.table-account {
      .cell-#{$color} {
        background: map-get(map-get($brands, $color), bkg);
      }
    }
  }

  .input-#{$color} {
    border: 1px solid map-get(map-get($brands, $color), border);
  }

  .border-top-#{$color} {
    border-top: 1px solid map-get(map-get($brands, $color), border);
  }
}



@include keyframes(bet-up-anim) {
    0% { box-shadow: 0 0 20px rgba(0, 128, 0, 0.0) inset; }
   50% { box-shadow: 0 0 20px rgba(0, 128, 0, 1.0) inset; }
  100% { box-shadow: 0 0 20px rgba(0, 128, 0, 0.0) inset; }
}

@include keyframes(bet-up-arrow-anim) {
    0% { opacity: 0; }
   50% { opacity: 0; }
   75% { opacity: 1; }
  100% { opacity: 0; }
}


@include keyframes(bet-down-anim) {
    0% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.0) inset; }
   50% { box-shadow: 0 0 20px rgba(255, 0, 0, 1.0) inset; }
  100% { box-shadow: 0 0 20px rgba(255, 0, 0, 0.0) inset; }
}

@include keyframes(bet-down-arrow-anim) {
    0% { opacity: 0; }
   50% { opacity: 0; }
   75% { opacity: 1; }
  100% { opacity: 0; }
}

.btn-disabled {
  background: #ddd !important;
  color: #333 !important;
  border-color: #666 !important;
  cursor: not-allowed;
}
