.date-row {
  button, ul {
    min-width: 0;
    text-transform: none;
  }
  .dropdown-menu {
    max-height: 180px;
    overflow-y: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
