footer {
  // height: 20px;
  position: absolute;
  width: 100%;
  .footer-payments {
    padding-top: 2px;

    ul > li {
      float: left;
      margin: 10px 15px;
      list-style: none;

      img {
        height: 25px;
      }
    }
  }
}
