@mixin section-shadow($top, $left, $blur, $size, $color, $inset: false) {
	@if $inset {
			-webkit-box-shadow:inset $top $left $blur $size $color;
			-moz-box-shadow:inset $top $left $blur $size $color;
			box-shadow:inset $top $left $blur $size $color;
	} @else {
			-webkit-box-shadow: $top $left $blur $size $color;
			-moz-box-shadow: $top $left $blur $size $color;
			box-shadow: $top $left $blur $size $color;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
	-webkit-font-smoothing: subpixel-antialiased;
}


.fa, .fa:before {
	-webkit-font-smoothing: antialiased;
}
html, body {
	height: 100%;
}

html {
	background: $base-bkg $base-bkg-image no-repeat top center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

  -webkit-transition: background-image $bg-transition-speed ease-in-out;
     -moz-transition: background-image $bg-transition-speed ease-in-out;
      -ms-transition: background-image $bg-transition-speed ease-in-out;
       -o-transition: background-image $bg-transition-speed ease-in-out;
          transition: background-image $bg-transition-speed ease-in-out;

}

body, .btn {
	font-family: $base-font;
	font-size: $base-size;
}

body {
	color: darken($base-color, 7);
}

.page-wrapper {
	background-color: darken(rgba($base-bkg, 0.3), 30%);
	padding-top: 60px;
	min-height: 95.2%;
	padding-bottom: 20px;
	&:after {
	  content: "";
	  display: block;
		height: 80px;
	}
}
nav {
	background-color: darken(rgba($base-bkg, 0.9), 10%) !important;
	text-transform: uppercase;
	font-weight: bold;
	.container {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 1150px;
	}
	.user-button {
		width: 100% !important;
	}
	li {
		margin-left: 5px;
	}
	.btn {
		letter-spacing: 0.5px;
		width: 150px;
		font-size: 13px;
		text-align: center;
		height: 99%;
	}
	.navbar-collapse.in, .navbar-collapse.collapsing {
		background-color: rgba($base-bkg, 0.9);
		overflow: hidden;
		li {
			text-align: center;
			.btn {
				margin-left: auto;
				margin-right: auto;
				width: 30%;
				margin-bottom: 10px;
			}
		}
	}

	.navbar-brand {
		float: left;
		padding: 9.5px 15px;
		font-size: 26px;
		line-height: 21px;
		height: 42px;
        background-color: transparent !important;

        &:hover {
          background-color: rgba(0, 85, 112, 0.4) !important;
        }

		.logo {
			background: -webkit-linear-gradient(#FEF591, #B0825E);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.logo-diamond {
			font-size: 21px;
			padding-top: 0px;
			color: #5F9EA0;
			margin-left: 1px;
			margin-right: 1px;
		}
	}


	.flag {
		height: 0 !important;
		width: 0 !important;
		img {
			opacity: 0.6;
			max-height: 26px;
			display: inline-block;
		}
		&:hover {
			img {
				opacity: 0.9;
			}
		}
	}
}

.register-header .close {
	font-size: 25px;
	margin-top: 0px;
}
.register-form label {
	padding-top: 11px !important;
}


form {
	.help-block {
		margin-top: 11px;
		margin-bottom: -5px;
	}
	.submit-button {
		font-size: 13px;
		letter-spacing: 1px;
	}
	.dropdown-toggle, .dropdown-menu {
		min-width: 214px;
	}
	.checkbox {
		.checkbox-text {
			font-size: 14px;
		}
	}

	.form-control {
		font-family: $base-font;
		text-transform: none;
		color: #000;
		font-size: 15px;


		&:hover, &:active {
			color: lighten($base-bkg, 10%);
		}

		&:focus {
			color: $base-bkg;
		}
	}
}

.input-group-btn button {
	height: 39px;
}

legend {
	text-align: center;
}

.dropdown-toggle, .dropdown-menu {
	min-width: 180px;
}
.dropdown-menu {
	background-color: $base-bkg;
}

.country-list {
   max-height: 200px;
   overflow-y: auto;
}


.jumbotron {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 7px;
	padding-top: 7px;
}

a {
	.img-shade { display: block; }
	.img-hover { display: none; }

	&:hover {
		.img-shade { display: none; }
		.img-hover { display: block; }
	}
}

.social {
	display: inline-block;
	padding-top: 2.5%;
	a {
		display: inline-block;
		img {
			width: 98%;
			height: 98%;
		}
	}
}

section {
	@include section-shadow(2px, 2px, 5px, 0, darken($base-bkg, 15), false);
	background-color: rgba($base-bkg, 0.6);
	// padding: 5px;

	div {
		margin: auto;
	}
}

.noscroll {
  overflow: hidden;
}

.block {
  display: block;
}

.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.inline {
  display: inline;
}


.inline-block {
  display: inline-block;
}

.text-padded {
	margin-bottom: 4px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-big {
	font-size: 140%;
}

.text-huge {
  font-size: 200%;
}

.text-sm {
	font-size: 90%;
}

.text-bold {
	font-weight: bold;
}

.text-upper {
    text-transform: uppercase;
}

.text-ucfirst:first-letter {
	text-transform: uppercase;
}

.text-content p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}
