@font-face {
    font-family: 'LeksaSans-Bold';
    src: url(font-path('LeksaSans-Bold.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('LeksaSans-Bold.woff')) format('woff'),
         url(font-path('LeksaSans-Bold.ttf'))  format('truetype'),
         url(font-path('LeksaSans-Bold.svg') + "#MyFont") format('svg');
}

.btn,
.panel-heading,
.nav,
h1, h2, h3, h4, h5,
.logo,
legend {
  font-family: 'LeksaSans-Bold', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
