.download-plugin {
  height: 160px;
  width: 263px;
  background-size: 263px 160px;
  a {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    font-size: 18px;
  }
}
