$base-font: "Helvetica Neue", Arial, sans-serif;
$base-size: 11px;

$sidebar-width: 260px;
$sidebar-collapsed-width: 50px;

$base-padding: 10px;
$base-radius: 6px;

$base-color: #EBEBEB;
$base-bkg: #005570;
$base-bkg-image: url('/images/bkg.jpg');

$list-bkg: rgba(239, 246, 250, 0.9);
$list-bkg-lighter: #f5f8fa;

$bg-transition-speed: 0.9s;

$btn-header-width: 210px;
$brands: (
    transp: (
        color: transparent,
        text: $base-color,
        bkg: transparent,
        active-text: $base-color,
        hover-text: $base-color,
        active-bkg: transparent,
        hover-bkg: transparent,
        border: transparent
    ),
	gray: (
		color: $base-color,
		text: #fff,
		bkg: #eee,
		active-text: $base-color,
		hover-text: $base-color,
		active-bkg: linear-gradient(#eee, #fff),
		hover-bkg: linear-gradient(#eee, #fff),
		border: #999
	),
	white: (
		color: #f0f0f0,
		text: $base-color,
		bkg: #f0f0f0 linear-gradient(to top, #e0e0e0 0%, #e8e8e8 49%, #efefef 50%, #f8f8f8 100%),
		active-text: $base-color,
		hover-text: $base-color,
		active-bkg: linear-gradient(#eee, #fff),
		hover-bkg: linear-gradient(#eee, #fff),
		border: #ccc
	),
	white-flat: (
		color: #fff,
		text: $base-color,
		bkg: #fff,
		active-text: $base-color,
		hover-text: $base-color,
		active-bkg: linear-gradient(#eee, #fff),
		hover-bkg: linear-gradient(#eee, #fff),
		border: #999
	),
	sky: (
		color: #c2def2,
		text: $base-color,
		bkg: #c2def2 linear-gradient(to top, #b8d2e5 0%, #c2def2 49%, #c4e0f5 50%, #cceaff 100%),
		active-text: $base-color,
		hover-text: $base-color,
		active-bkg: linear-gradient(#b8d2e5, #cceaff),
		hover-bkg: linear-gradient(#b8d2e5, #cceaff),
		border: #ccc
	),
	blue: (
		color: #174254,
		text: #fff,
		bkg: #1a526a linear-gradient(to bottom, #083f5a 0%,#055671 50%,#044d66 51%,#077b9b 100%),
		active-text: #fff,
		hover-text: #fff,
		active-bkg: linear-gradient(#1d3962, #184150),
		hover-bkg: linear-gradient(#1d3962, #184150),
		border: #24586f
	),
    green: (
		color: #76bd48,
		text: #fff,
        bkg: #8bc465 linear-gradient(to top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%),
		active-text: #fff,
		hover-text: #0c3200,
		active-bkg: linear-gradient(#46702c, #6bab41),
		hover-bkg: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%),
		border: rgba(#67a43f, 0.2)
	),
	orange: (
		color: #f0590e,
		text: #fff,
		bkg: #ff7300 linear-gradient(to top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%),
		active-text: #fff,
		hover-text: #c44600,
		active-bkg: linear-gradient(#f0590e, #c44600),
		hover-bkg: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%),
		border: #bd5a48
	),
	gold: (
		color: #f8b500,
		text: #000,
		bkg: #f8b500 linear-gradient(to top, #AA3400 0%,#FFD800 50%,#FFFFBF 51%,#FFF64F 100%),
		active-text: #fff,
		hover-text: #fff,
		active-bkg: linear-gradient(#f8b500, #fbdf93),
		hover-bkg: linear-gradient(#f8b500, #fbdf93),
		border: #fbdf93
	),
	red: (
		color: #f6290c,
		text: #fff,
		bkg: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%),
		active-text: #fff,
		hover-text: #fff,
		active-bkg: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%),
		hover-bkg: linear-gradient(to bottom, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%),
		border: #f6290c
	),
	black: (
		color: #535c61,
		text: #fff,
		bkg: #535c61 linear-gradient(to bottom, #383d3d 0%,#343836 46%,#0a0e0a 51%,#3a3a3a 100%),
		active-text: #fff,
		hover-text: #fff,
		active-bkg: linear-gradient(to bottom, #4d4d4d 0%,#535353 50%,#0a0e0a 51%,#0a0809 100%),
		hover-bkg: linear-gradient(to bottom, #626262 0%,#444343 50%,#202020 51%,#222222 100%),
		border: #535c61
	)
);
