<section class="category-menu">
  <ul class="nav nav-pills nav-justified">
    <li ng-repeat="category in categories" ng-class="{'active' : isActive==category.code}">
      <a href="javascript:void(0)" ng-click="getByCategory(category.code)">{{category.name}}</a>
    </li>
  </ul>
</section>
