<section class="game-grid text-center">
  <div class="cell" ng-repeat="app in apps">

      <img ng-src="{{app.img}}" />
      <span class="content">
        <span>
          <h5>{{app.name}}</h5>
          <a href="/game/{{app.id}}?type=1">
            <button class="btn btn-lg btn-green"><%= I18n.t 'frontend.games.play'%></button>
          </a>
          <a href="/game/{{app.id}}?type=0">
            <button class="btn btn-sm btn-blue"><%= I18n.t 'frontend.games.play_free'%></button>
          </a>
        </span>
      </span>
  </div>
</section>
