<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><%= I18n.t 'frontend.games.popular'%></h4>
  </div>
  <div class="panel-body">
    <div class="popular-grid">
      <div class="cell" ng-repeat="app in popular">
          <img ng-src="{{app.img}}" />
          <span class="content">
            <span>
              <h5>{{app.name}}</h5>
              <a href="/game/{{app.id}}?type=1">
                <button class="btn btn-lg btn-green"><%= I18n.t 'frontend.games.play'%></button>
              </a>
              <a href="/game/{{app.id}}?type=0">
                <button class="btn btn-sm btn-blue"><%= I18n.t 'frontend.games.play_free'%></button>
              </a>
            </span>
          </span>
      </div>
    </div>
  </div>
</div>
