<div>
  <div class="row">
    <div class="col-md-9" ng-controller="GridCtrl">
      <%= render 'popular' %>
    </div>
    <div class="col-md-3" ng-controller="TopCtrl">
      <%= render 'rightcol' %>
    </div>
  </div>
  <div ng-controller="GridCtrl">
    <div class="row">
      <div class="col-md-12" >
          <%= render 'category_menu' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
           <%= render 'games' %>
      </div>
    </div>
  </div>
</div>
