<%#
<form class="form-horizontal">
  <fieldset>
    <legend><%= I18n.t 'frontend.account.deposit.title' ></legend>
  </fieldset>
  <iframe src="https://paymentgateway.ru/pgw/?project=8692&nickname=<%=@nickname>" style="width: 100%;height: 600px;overflow: hidden;"></iframe>
</form>
%>

<form class="form-horizontal">
  <fieldset>
    <legend><%= I18n.t 'frontend.account.deposit.title' %></legend>
  </fieldset>

  <div style="text-align: center">
    <img src="<%= @qrcode_src %>" />
  </div>
  <div style="text-align: center; padding: 15px 0 0 0; font-size: 12px
  ">
    <%= I18n.t 'frontend.account.deposit.wallet' %> <b><%= @input_address %></b>
  </div>
</form>