<form class="form-horizontal profile-form" ng-controller="ProfileCtrl" ng-submit="save_userinfo()">
  <fieldset>
    <alert ng-show="alert" type="danger">{{alert}}</alert>
    <legend><%= I18n.t 'frontend.account.profile.title' %></legend>
    <div class="form-group">
      <label for="name" class="col-lg-3 control-label"><%= I18n.t 'frontend.account.profile.form.name' %></label>
      <div class="col-lg-7">
        <input type="text" class="form-control" id="name" ng-model="profile.firstname" placeholder="<%= I18n.t 'frontend.account.profile.placeholders.name' %>">
      </div>
    </div>
    <div class="form-group">
      <label for="secondname" class="col-lg-3 control-label"><%= I18n.t 'frontend.account.profile.form.lastname' %></label>
      <div class="col-lg-7">
        <input type="text" class="form-control" id="secondname" ng-model="profile.lastname" placeholder="<%= I18n.t 'frontend.account.profile.placeholders.lastname' %>">
      </div>
    </div>
    <div class="form-group date-row">
      <label for="dateofbirth" class="col-lg-3 control-label"><%= I18n.t 'frontend.account.profile.form.date_of_birth' %></label>
      <div class="col-lg-2">
        <span class="btn-dropdown day-down" data-dropdown>
            <button type="button" class="form-control btn" data-dropdown-toggle data-ng-bind="dateSelector.day_name"></button>
            <ul class="dropdown-menu">
              <li>
                <a href="" data-ng-repeat="day in days" data-ng-click="changeDate('day', day);" data-ng-bind="day"></a>
              </li>
            </ul>
        </span>
      </div>
      <div class="col-lg-3">
        <span class="btn-dropdown month-down" data-dropdown>
            <button type="button" class="form-control btn" data-dropdown-toggle data-ng-bind="dateSelector.month_name"></button>
            <ul class="dropdown-menu">
              <li>
                <a href="" data-ng-repeat="month in months" data-ng-click="changeDate('month', [$index, month]);" data-ng-bind="month"></a>
              </li>
            </ul>
        </span>
      </div>
      <div class="col-lg-2">
        <span class="btn-dropdown year-down" data-dropdown>
            <button type="button" class="form-control btn" data-dropdown-toggle data-ng-bind="dateSelector.year_name"></button>
            <ul class="dropdown-menu">
              <li>
                <a href="" data-ng-repeat="year in years" data-ng-click="changeDate('year', year);" data-ng-bind="year"></a>
              </li>
            </ul>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label"><%= I18n.t 'frontend.account.profile.form.gender.label' %></label>
      <div class="col-lg-7">
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="gender1"  ng-model="profile.gender" value="M">
            <%= I18n.t 'frontend.account.profile.form.gender.male' %>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="gender2"  ng-model="profile.gender" value="F">
            <%= I18n.t 'frontend.account.profile.form.gender.female' %>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-3 col-lg-offset-3">
        <label for="country" class="block"><%= I18n.t 'frontend.account.profile.form.country' %></label>
        <div class="btn-group" dropdown>
          <button type="button" class="btn form-control btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            {{ countryText }}   <span class="caret"></span>
          </button>
          <ul class="dropdown-menu country-list" role="country">
            <li ng-repeat="country in countryList"><a ng-click="chooseCountry(country.name, country.code)">{{country.name}}</a></li>
          </ul>
        </div>
      </div>
      <%#<div class="col-lg-3 col-lg-offset-1">
        <label for="currency" class="block"><%= I18n.t 'frontend.account.profile.form.currency' ></label>
        <div class="btn-group" dropdown>
          <button type="button" class="btn form-control btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            {{ currencyText }}   <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="currency">
            <li ng-repeat="cur in currencyList"><a ng-click="chooseCurrency(cur.name, cur.code)">{{cur.name}}</a></li>
          </ul>
        </div>
      </div>%>
    </div>

    <div class="form-group">
      <label for="address" class="col-lg-3 control-label"><%= I18n.t 'frontend.account.profile.form.address' %></label>
      <div class="col-lg-7">
        <textarea class="form-control" ng-model="profile.address" rows="2" id="address"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-7 col-lg-offset-3">
        <button type="submit" class="btn btn-primary btn-block"><%= I18n.t 'frontend.account.submit' %></button>
      </div>
    </div>
  </fieldset>
</form>
