<form class="form-horizontal" ng-controller="SecurityCtrl" ng-submit="changePassword()">
  <fieldset>
    <legend><%= I18n.t 'frontend.account.security.title' %></legend>
    <alert ng-show="message" type="info" close="message=''">{{message}}</alert>
    <alert ng-show="alert" type="danger" close="alert=''">{{alert}}</alert>
    <div class="form-group">
      <label for="currentPassword" class="col-lg-3 col-lg-offset-1 control-label"><%= I18n.t 'frontend.account.security.current_password' %></label>
      <div class="col-lg-4">
        <input type="password" class="form-control" id="currentPassword" placeholder="*******" ng-model="password.current">
        <span class="help-block"><%= I18n.t 'frontend.account.security.helptext' %></span>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword" class="col-lg-3 col-lg-offset-1 control-label"><%= I18n.t 'frontend.account.security.new_password' %></label>
      <div class="col-lg-4">
        <input type="password" class="form-control" id="newPassword" placeholder="*******" ng-model="password.new">
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" class="col-lg-3 col-lg-offset-1 control-label"><%= I18n.t 'frontend.account.security.confirm_password' %></label>
      <div class="col-lg-4">
        <input type="password" class="form-control" id="confirmPassword" placeholder="*******" ng-model="confirmPassword">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4">
        <button type="submit" class="btn btn-primary btn-block"><%= I18n.t 'frontend.account.submit' %></button>
      </div>
    </div>
  </fieldset>
</form>
