<form class="form-horizontal" ng-controller="WithdrawalCtrl" ng-submit="withdrawalRequest()">
  <fieldset>
    <legend><%= I18n.t 'frontend.account.withdrawal.title' %></legend>
    <alert ng-show="message" type="info" close="message=''">{{message}}</alert>
    <alert ng-show="alert" type="danger" close="alert=''">{{alert}}</alert>
    <div class="form-group">
      <label for="method" class="col-lg-3 col-lg-offset-1 control-label"><%= I18n.t 'frontend.account.withdrawal.form.method' %></label>
      <div class="col-lg-4">
        <div class="btn-group" dropdown>
          <button type="button" class="btn form-control btn-block dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            {{ form.method }}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="method">
            <li ng-repeat="method in methods"><a ng-click="chooseMethod(method)">{{ method }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="wallet" class="col-lg-3 col-lg-offset-1 control-label"><%= I18n.t 'frontend.account.withdrawal.form.wallet' %></label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="wallet" ng-model="form.wallet">
      </div>
    </div>
    <div class="form-group">
      <label for="amount" class="col-lg-3 col-lg-offset-1 control-label"><%= I18n.t 'frontend.account.withdrawal.form.amount' %></label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="amount" ng-model="form.amount">
        <%#<span class="help-block"><%= I18n.t 'frontend.account.withdrawal.min_amount' >{{ minAmount }}</span>%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4">
        <button type="submit" class="btn btn-block btn-primary"><%= I18n.t 'frontend.account.withdrawal.submit' %></button>
      </div>
    </div>
  </fieldset>
</form>
