.game-grid {
  .cell {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 155px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0 0 3px rgba(#031c28, 0.8);
    img {
      padding: 0;
      width: 266px;
      height: 177px;
      margin: -9px 0 0 -11px;
    }
    .content {
      background: rgba(#031c28, 0.9);
      color: white;
      cursor: pointer;
      display: table;
      height: 100%;
      width: 100%;
      left: 0;
      position: absolute;
      top: 0;
      opacity: 0;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms;
      box-shadow: 0 0 0 2px #096088;

      span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        button {
          text-transform: uppercase;
          font-weight: bold;
          font: 19px;
          width: 50%;
          margin-bottom: 5px;
        }
      }
    }
    &:hover {
      box-shadow: 0 0 0 3px #031c28;
      .content {
        opacity: 1;
      }
    }
  }
}

.popular-grid {
  @extend .game-grid;
  text-align: center;
}

.category-menu {
  background-color: rgba(13, 104, 149, 0.9);
  text-transform: uppercase;
  font-size: 16px;
  li {
    cursor: pointer;
    border-right: 2px solid rgba(5, 54, 60, 0.3);
    &:last-child {
      border-right: none;
    }
  }
}

.top-players {
  height: 227px;
  table {
    overflow-y: auto;
    font-size: 12px;
  }
}
