.btn-browser {
  min-height: 150px;
  padding-top: 6%;
  padding-left: 22%;
  text-align: left;
  .logo {
    height: 80px;
    display: inline-block;
    img {
      height: 80px;
      width: auto;
    }
    margin-right: 10px;

  }

  .text {
    height: 80px;
    vertical-align: top;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    .download {
      display: block;
      color: #fff;
      font-size: 14px;
    }
    .name {
      display: inline-block;
      color: #fff;
      letter-spacing: 2px;
      font-size: 44px;
    }
  }
}

.btn-chrome {
  background: #d8ff00;
  background: url("/images/pattern.png"), -moz-linear-gradient(top, #617200, #778c00, #8aa300, #a7c500, #d8ff00);
  background: url("/images/pattern.png"), -webkit-linear-gradient(top, #617200, #778c00, #8aa300, #a7c500, #d8ff00);
  background: url("/images/pattern.png"), -o-linear-gradient(top, #617200, #778c00, #8aa300, #a7c500, #d8ff00);
  background: url("/images/pattern.png"), -ms-linear-gradient(top, #617200, #778c00, #8aa300, #a7c500, #d8ff00);
  background: url("/images/pattern.png"), linear-gradient(top, #617200, #778c00, #8aa300, #a7c500, #d8ff00);
  border-top: 1px solid #6f8300;
  border-bottom: 2px solid #6f8300;
  text-shadow: 0 -1px 0 #46560a;
}

.btn-firefox {
  background: #ffe92e;
  background: url("/images/pattern.png"), -moz-linear-gradient(top, #ff5a00, #ff7800, #ff9c00, #ffba00, #ffe92e);
  background: url("/images/pattern.png"), -webkit-linear-gradient(top, #ff5a00, #ff7800, #ff9c00, #ffba00, #ffe92e);
  background: url("/images/pattern.png"), -o-linear-gradient(top, #ff5a00, #ff7800, #ff9c00, #ffba00, #ffe92e);
  background: url("/images/pattern.png"), -ms-linear-gradient(top, #ff5a00, #ff7800, #ff9c00, #ffba00, #ffe92e);
  background: url("/images/pattern.png"), linear-gradient(top, #ff5a00, #ff7800, #ff9c00, #ffba00, #ffe92e);
  border-top: 1px solid #df6900;
  border-bottom: 2px solid #df6900;
  text-shadow: 0 -1px 0 #d55900;
}
