.login-form {
  .panel-body {
    padding-top: 20px;
    .btn {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }
}

.register-form {
  .panel-body {
    padding-top: 20px;
    .dropdown-toggle, .dropdown-menu {
      min-width: 295px !important;
    }
  }
}
