<footer>
  <section class="footer-payments">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <ul>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-wm-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-wm.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-yandex-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-yandex.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-qiwi-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-qiwi.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-w1-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-w1.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-skrill-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-skrill.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-megafon-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-megafon.png">
            </a></li>
            <!-- <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-beeline-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-beeline.png">
            </a></li> -->
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-neteller-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-neteller.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-visa-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-visa.png">
            </a></li>
            <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-mastercard-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-mastercard.png">
            </a></li>
            <!-- <li><a href>
              <img class="img-responsive img-shade" src="/images/payments/logo-sc-dis.png">
              <img class="img-responsive img-hover" src="/images/payments/logo-sc.png">
            </a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>
