<alert ng-show="alert" type="danger" close="alert=''">{{alert}}</alert>
<alert ng-show="message" type="info" close="message=''">{{message}}</alert>
<form class="form-horizontal login-form" ng-submit="login()">
  <div class="form-group">
    <label for="login" class="col-lg-3 control-label"><%= I18n.t 'frontend.login.login'%></label>
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-9">
    <% else %>
    <div class="col-lg-8">
    <% end %>
      <input type="text" class="form-control" id="login" placeholder="<%= I18n.t 'frontend.login.login'%>" ng-model="form.login" />
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-3 control-label"><%= I18n.t 'frontend.login.password'%></label>
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-9">
    <% else %>
    <div class="col-lg-8">
    <% end %>
      <input type="password" class="form-control" id="password" placeholder="<%= I18n.t 'frontend.login.password'%>" ng-model="form.password" />
      <span class="help-block text-center"><a href="#" ng-click="forgotPassword()"><%= I18n.t 'frontend.login.forgot_password'%></a></span>
    </div>
  </div>
  <div class="form-group">
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-9 col-lg-offset-3">
    <% else %>
    <div class="col-lg-8 col-lg-offset-3">
    <% end %>
      <button type="submit" name="button" class="btn btn-green btn-block"><%= I18n.t 'frontend.login.submit'%></button>
    </div>
  </div>
</form>
