<script type="text/ng-template" id="loginmodal">
  <div class="modal-header register-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title"><%= I18n.t 'frontend.menu.login'%></h4>
  </div>
  <div class="modal-body">
    <%= render 'loginform' %>
  </div>
</script>
