<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <%#<a class="navbar-brand btn-default" href="<%= root_link >"><span class="logo">c</span><span class="logo-diamond"><i class="fa fa-diamond"></i></span><span class="logo">sino almaz</span></a>%>
      <a class="navbar-brand btn-default" style="padding: 0" href="<%= root_link %>"><img src="/images/qbit_logo.png" style="height: 100%"/></a>
    </div>

    <div class="collapse navbar-collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav">
          <% if I18n.locale.to_s == 'en' %>
		  <a href="<%= root_link %>?lng=ru" class="btn flag">
                <img src="/images/flags/ru.png"/>
            </a>
          <% else %>
		  <a href="<%= root_link %>?lng=en" class="btn flag">
                <img src="/images/flags/en.png"/>
            </a>
          <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if session[:guid]%>
        <li class="account-info" ng-controller="AccountInfoCtrl">
          <span class="label add-funds"><a href="<%= root_link %><%= account_deposit_path %>">
            <span class="text"><%= I18n.t 'frontend.menu.balance' %>:
            {{user.balance}}   {{user.currency}}</span>
            <span class="btn btn-xs btn-green"><%= I18n.t 'frontend.menu.add_funds' %></span>
            </a></span>
          <span class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default dropdown-toggle user-button" dropdown-toggle ng-disabled="disabled">
              <a><i class="fa fa-user"></i>&nbsp;   {{user.username}}</a> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%= root_link %><%= account_profile_path %>" name="button"><%= I18n.t 'frontend.menu.account.profile' %></a></li>
              <li class="divider"></li>
              <li><a href="<%= root_link %><%= account_deposit_path %>" name="button"><%= I18n.t 'frontend.menu.account.deposit' %></a></li>
              <li><a href="<%= root_link %><%= account_withdrawal_path %>" name="button"><%= I18n.t 'frontend.menu.account.withdraw' %></a></li>
              <li class="divider"></li>
              <li><a href="<%= root_link %>/logout" name="button"><%= I18n.t 'frontend.menu.account.logout' %></a></li>
            </ul>
          </span>
        </li>
      <% else %>
      <li>
        <%= render 'social' %>
      </li>
      <% if !request.original_fullpath.match 'registration' %>
      <li>
        <button type="button" ng-controller="RegisterCtrl" class="btn btn-lg btn-orange" name="button" ng-click="openRegistration()"><%= I18n.t 'frontend.menu.register' %></button>
      </li>
      <li>
        <button type="button" ng-controller="AuthCtrl" class="btn btn-lg btn-green" name="button" ng-click="openAuth()"> <%= I18n.t 'frontend.menu.login' %></button>
      </li>
      <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
