<alert ng-show="alert" type="danger" close="alert=''">{{alert}}</alert>
<alert ng-show="message" type="info" close="message=''">{{message}}</alert>
<form class="form-horizontal register-form" ng-submit="register()">
  <div class="form-group">
    <label for="username" class="col-lg-4 control-label"><%= I18n.t 'frontend.register.username'%></label>
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-5">
    <% else %>
    <div class="col-lg-6">
    <% end %>
        <input type="text" class="form-control" id="username" placeholder="<%= I18n.t 'frontend.register.username'%>" ng-model="form.username" />
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-lg-4 control-label"><%= I18n.t 'frontend.register.email'%></label>
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-5">
    <% else %>
    <div class="col-lg-6">
    <% end %>
      <input type="text" class="form-control" id="email" placeholder="<%= I18n.t 'frontend.register.email'%>" ng-model="form.email" />
    </div>
  </div>
  <%#<div class="form-group">
    <label for="currency" class="col-lg-4 control-label"><%= I18n.t 'frontend.register.currency'></label>
    <% if !request.original_fullpath.match 'registration' >
    <div class="col-lg-5">
    <% else >
    <div class="col-lg-6">
    <% end >
      <div class="btn-group" dropdown>
        <button type="button" class="btn form-control dropdown-toggle btn-block" dropdown-toggle ng-disabled="disabled">
          {{ currencyText }}  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="currency">
          <li ng-repeat="cur in currencyList"><a ng-click="chooseCurrency(cur.name, cur.code)">{{cur.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>%>
  <div class="form-group">
    <label for="password" class="col-lg-4 control-label"><%= I18n.t 'frontend.register.password'%></label>
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-5">
    <% else %>
    <div class="col-lg-6">
    <% end %>
      <input type="password" class="form-control" id="password" placeholder="<%= I18n.t 'frontend.register.password'%>" ng-model="form.password" />
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-lg-4 control-label"><%= I18n.t 'frontend.register.confirm_password'%></label>
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-5">
    <% else %>
    <div class="col-lg-6">
    <% end %>
      <input type="password" class="form-control" id="password" placeholder="<%= I18n.t 'frontend.register.confirm_password'%>" ng-model="confirm_password" />
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ageOfConsent"> <span class="checkbox-text"><%= I18n.t 'frontend.register.age'%></span>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <% if !request.original_fullpath.match 'registration' %>
    <div class="col-lg-5 col-lg-offset-4">
    <% else %>
    <div class="col-lg-6 col-lg-offset-4">
    <% end %>
      <button type="submit" name="button" class="btn btn-block btn-orange submit-button"><%= I18n.t 'frontend.register.submit'%></button>
    </div>
  </div>
</form>
