<script type="text/ng-template" id="registermodal">

      <div class="modal-header register-header">
        <% if !request.original_fullpath.match 'registration' %>
          <button type="button" class="close" ng-click="cancel()">&times;</button>
        <% end %>
          <h4 class="modal-title"><%= I18n.t 'frontend.menu.register'%></h4>
      </div>
      <div class="modal-body">
        <%= render 'registerform' %>
      </div>
</script>
