<script type="text/ng-template" id="reset_passwordform">
  <div class="modal-header register-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title"><%= I18n.t 'frontend.reset_password.title'%></h4>
  </div>
  <div class="modal-body">
    <alert ng-show="alert" type="danger" close="alert=''">{{alert}}</alert>
    <form class="form-horizontal login-form" ng-submit="sendRequest()">
      <div class="form-group">
        <label for="email" class="col-lg-3 control-label"><%= I18n.t 'frontend.reset_password.email'%></label>
        <div class="col-lg-9">
          <input type="text" class="form-control" id="email" placeholder="<%= I18n.t 'frontend.reset_password.email'%>" ng-model="form.email" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-9 col-lg-offset-3">
          <button type="submit" name="button" class="btn btn-block btn-green submit-button"><%= I18n.t 'frontend.reset_password.submit'%></button>
        </div>
      </div>
    </form>
  </div>
</script>
