<div class="panel download-plugin" ng-bg="/images/banner-plugin-<%= I18n.locale %>.jpg">
  <a href="<%= root_link %><%= plugins_path %>" name="button" class="btn btn-lg btn-blue"><%= I18n.t 'frontend.games.download' %></a>
</div>
<% if !request.original_fullpath.match 'registration' %>
<div class="panel">
  <div class="panel-heading">
    <h4 class="panel-title"><%= I18n.t 'frontend.games.top' %></h4>
  </div>
  <div class="panel-body top-players">
    <table class="table table-condensed table-hover">
      <tbody>
        <tr ng-repeat="player in topList">
          <td><i class="fa fa-trophy"></i></td>
          <td>{{player.name}}</td>
          <td><i class="fa fa-money"></i> {{player.won}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
