<!-- <span class="social">
  <a href>
    <img class="img-shade" src="/images/social/google.png">
    <img class="img-hover" src="/images/social/google-hover.png">
  </a>
  <a href>
    <img class="img-shade" src="/images/social/facebook.png">
    <img class="img-hover" src="/images/social/facebook-hover.png">
  </a>
  <a href>
    <img class="img-shade" src="/images/social/vk.png">
    <img class="img-hover" src="/images/social/vk-hover.png">
  </a>
  <a href>
    <img class="img-shade" src="/images/social/mailru.png">
    <img class="img-hover" src="/images/social/mailru-hover.png">
  </a>
  <a href>
    <img class="img-shade" src="/images/social/twitter.png">
    <img class="img-hover" src="/images/social/twitter-hover.png">
  </a>
  <a href>
    <img class="img-shade" src="/images/social/odno.png">
    <img class="img-hover" src="/images/social/odno-hover.png">
  </a>
</span> -->
