<% content_for :content do %>
  <div class="panel">
    <div class="panel-heading">
      <h4>Account</h4>
    </div>
    <div class="panel-body">
      <div class="col-md-4">
        <div class="list-group">
          <a href="<%= root_link %><%= account_profile_path %>" class="list-group-item">
            <span class="badge"><i class="fa fa-user"></i></span>
            <%= I18n.t 'frontend.menu.account.profile' %>
          </a>
          <a href="<%= root_link %><%= account_security_path %>" class="list-group-item">
            <span class="badge"><i class="fa fa-lock"></i></span>
            <%= I18n.t 'frontend.menu.account.security' %>
          </a>
          <a href="<%= root_link %><%= account_deposit_path %>" class="list-group-item">
            <span class="badge"><i class="fa fa-credit-card"></i></span>
            <%= I18n.t 'frontend.menu.account.deposit' %>
          </a>
          <a href="<%= root_link %><%= account_withdrawal_path %>" class="list-group-item">
            <span class="badge"><i class="fa fa-diamond"></i></span>
            <%= I18n.t 'frontend.menu.account.withdraw' %>
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <%= content_for?(:account_content) ? yield(:account_content) : yield %>
      </div>
    </div>
  </div>
<% end %>
<% parent_layout "application" %>
