<!DOCTYPE html>
<html>
<head>
<title>Qbit Casino<%= @page_params.title rescue nil %></title>
  <meta name="description" content="<%=@page_params.description rescue nil%>">
  <meta name="Keywords" content="<%=@page_params.keywords rescue nil%>">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'azarthall', media: 'all' %>
  <%= stylesheet_link_tag params[:controller], media: 'all' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body ng-app="azarthall">
  <%= render 'menu' %>
  <div class="page-wrapper">
    <% if !request.original_fullpath.match 'game/' %>
    <div class="jumbotron">
      <div class="container">
        <div class="panel">
          <img class="img-responsive" src="/images/banner-<%= I18n.locale %>.jpg" width=""/>
        </div>
      </div>
    </div>
    <% end %>
    <div class="container">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>
  <%= render 'footer' %>
  <%= javascript_include_tag 'libs' %>
  <%= javascript_include_tag 'utils' %>
  <%= javascript_include_tag 'account' %>

  <%= render 'loginmodal' %>
  <%= render 'registermodal' %>
  <%= render 'reset_passwordform' %>

  <%= javascript_include_tag params[:controller] %>
  <%= javascript_include_tag("/lang/#{I18n.locale}.js")%>
  <script>
    angular.module('azarthall').constant('lang', '<%= I18n.locale %>');
    angular.module('azarthall.account').constant('accountInfo', {
        guid: '<%=session[:guid]%>',
        username: '<%=session[:username]%>',
        balance: '<%=session[:balance]%>',
        currency: '<%=session[:currency]%>'
    });
  </script>
  <%= yield :constants%>
  <%= yield :js %>

</body>
</html>
